
        <div class="form-group row">
            <label for="{{ bioche_form.sugar_f.id_for_label }}" class="col-md-3 col-form-label">Sugar F (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.sugar_f }}
                <small class="form-text text-muted">(70-110) mg/dl</small>
            </div>
        </div>

        <!-- Add Sugar PP (mg/dl) field -->
        <div class="form-group row">
            <label for="{{ bioche_form.sugar_pp.id_for_label }}" class="col-md-3 col-form-label">Sugar PP (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.sugar_pp }}
                <small class="form-text text-muted">(70-140) mg/dl</small>
            </div>
        </div>

        <!-- Add Sugar R (mg/dl) field -->
        <div class="form-group row">
            <label for="{{ bioche_form.sugar_r.id_for_label }}" class="col-md-3 col-form-label">Sugar R (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.sugar_r }}
                <small class="form-text text-muted">(70-140) mg/dl</small>
            </div>
        </div>

        <!-- Add Serum Urea (mg/dl) field -->
        <div class="form-group row">
            <label for="{{ bioche_form.serum_urea.id_for_label }}" class="col-md-3 col-form-label">Serum Urea (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.serum_urea }}
                <small class="form-text text-muted">(10-45) mg/dl</small>
            </div>
        </div>

        <!-- Add Creatine (mg/dl) field -->
        <div class="form-group row">
            <label for="{{ bioche_form.creatine.id_for_label }}" class="col-md-3 col-form-label">Creatine (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.creatine }}
                <small class="form-text text-muted">(0.5-1.5) mg/dl</small>
            </div>
        </div>

        <!-- Add Sodium field -->
        <div class="form-group row">
            <label for="{{ bioche_form.sodium.id_for_label }}" class="col-md-3 col-form-label">Sodium:</label>
            <div class="col-md-9">
                {{ bioche_form.sodium }}
            </div>
        </div>

        <!-- Add Potassium field -->
        <div class="form-group row">
            <label for="{{ bioche_form.potassium.id_for_label }}" class="col-md-3 col-form-label">Potassium:</label>
            <div class="col-md-9">
                {{ bioche_form.potassium }}
            </div>
        </div>

        <!-- Add Uric Acid (mg/dl) field -->
        <div class="form-group row">
            <label for="{{ bioche_form.uric_acid.id_for_label }}" class="col-md-3 col-form-label">Uric Acid (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.uric_acid }}
                <small class="form-text text-muted">(2-7) mg/dl</small>
            </div>
        </div>

        <!-- Add S Calcium (mg/dl) field -->
        <div class="form-group row">
            <label for="{{ bioche_form.s_calcium.id_for_label }}" class="col-md-3 col-form-label">S Calcium (mg/dl):</label>
            <div class="col-md-9">
                {{ bioche_form.s_calcium }}
                <small class="form-text text-muted">(8.5-11) mg/dl</small>
            </div>
        </div>
