
        <div class="form-group row">
            <label for="{{ serology_form.hbsag.id_for_label }}" class="col-md-6 col-form-label">HBsAg:</label>
            <div class="col-md-6">
                {{ serology_form.hbsag }}
            </div>
        </div>

        <!-- Add HIV 1/2 AB field -->
        <div class="form-group row">
            <label for="{{ serology_form.hiv_1_2_ab.id_for_label }}" class="col-md-6 col-form-label">HIV 1/2 AB:</label>
            <div class="col-md-6">
                {{ serology_form.hiv_1_2_ab }}
            </div>
        </div>

        <!-- Add VDRL/RPR field -->
        <div class="form-group row">
            <label for="{{ serology_form.vdrl_rpr.id_for_label }}" class="col-md-6 col-form-label">VDRL/RPR:</label>
            <div class="col-md-6">
                {{ serology_form.vdrl_rpr }}
            </div>
        </div>

        <!-- Add HIV I/II field -->
        <div class="form-group row">
            <label for="{{ serology_form.hiv_i_ii.id_for_label }}" class="col-md-6 col-form-label">HIV I/II:</label>
            <div class="col-md-6">
                {{ serology_form.hiv_i_ii }}
            </div>
        </div>

        <!-- Add HCV field -->
        <div class="form-group row">
            <label for="{{ serology_form.hcv.id_for_label }}" class="col-md-6 col-form-label">HCV:</label>
            <div class="col-md-6">
                {{ serology_form.hcv }}
            </div>
        </div>

        <!-- Add CRP field -->
        <div class="form-group row">
            <label for="{{ serology_form.crp.id_for_label }}" class="col-md-6 col-form-label">CRP:</label>
            <div class="col-md-6">
                {{ serology_form.crp }}
            </div>
        </div>

        <!-- Add ASO field -->
        <div class="form-group row">
            <label for="{{ serology_form.aso.id_for_label }}" class="col-md-6 col-form-label">ASO:</label>
            <div class="col-md-6">
                {{ serology_form.aso }}
            </div>
        </div>

        <!-- Add RA field -->
        <div class="form-group row">
            <label for="{{ serology_form.ra.id_for_label }}" class="col-md-6 col-form-label">RA:</label>
            <div class="col-md-6">
                {{ serology_form.ra }}
            </div>
        </div>

        <!-- Add Typhoid IgG/IgM field -->
        <div class="form-group row">
            <label for="{{ serology_form.typhoid_igg_igm.id_for_label }}" class="col-md-6 col-form-label">Typhoid IgG/IgM:</label>
            <div class="col-md-6">
                {{ serology_form.typhoid_igg_igm }}
            </div>
        </div>

        <!-- Add Dengue NS1 Ag field -->
        <div class="form-group row">
            <label for="{{ serology_form.dengue_ns1_ag.id_for_label }}" class="col-md-6 col-form-label">Dengue NS1 Ag:</label>
            <div class="col-md-6">
                {{ serology_form.dengue_ns1_ag }}
            </div>
        </div>

        <!-- Add Dengue IgG/IgM field -->
        <div class="form-group row">
            <label for="{{ serology_form.dengue_igg_igm.id_for_label }}" class="col-md-6 col-form-label">Dengue IgG/IgM:</label>
            <div class="col-md-6">
                {{ serology_form.dengue_igg_igm }}
            </div>
        </div>

        <!-- Add Scrub Typhus IgG/IgM field -->
        <div class="form-group row">
            <label for="{{ serology_form.scrub_typhus_igg_igm.id_for_label }}" class="col-md-6 col-form-label">Scrub Typhus IgG/IgM:</label>
            <div class="col-md-6">
                {{ serology_form.scrub_typhus_igg_igm }}
            </div>
        </div>

        <!-- Add H. Pylori IgG/IgM field -->
        <div class="form-group row">
            <label for="{{ serology_form.h_pylori_igg_igm.id_for_label }}" class="col-md-6 col-form-label">H. Pylori IgG/IgM:</label>
            <div class="col-md-6">
                {{ serology_form.h_pylori_igg_igm }}
            </div>
        </div>

        <!-- Add Sputum For AFB I field -->
        <div class="form-group row">
            <label for="{{ serology_form.sputum_for_afb_i.id_for_label }}" class="col-md-6 col-form-label">Sputum For AFB I:</label>
            <div class="col-md-6">
                {{ serology_form.sputum_for_afb_i }}
            </div>
        </div>

        <!-- Add Sputum For AFB II field -->
        <div class="form-group row">
            <label for="{{ serology_form.sputum_for_afb_ii.id_for_label }}" class="col-md-6 col-form-label">Sputum For AFB II:</label>
            <div class="col-md-6">
                {{ serology_form.sputum_for_afb_ii }}
            </div>
        </div>

        <!-- Add Mantoux field -->
        <div class="form-group row">
            <label for="{{ serology_form.mantoux.id_for_label }}" class="col-md-6 col-form-label">Mantoux:</label>
            <div class="col-md-6">
                {{ serology_form.mantoux }}
            </div>
        </div>

        <!-- Add Diameter after 48-72 hrs field -->
        <div class="form-group row">
            <label for="{{ serology_form.diameter_after_48_72_hrs.id_for_label }}" class="col-md-6 col-form-label">Diameter after 48-72 hrs:</label>
            <div class="col-md-6">
                {{ serology_form.diameter_after_48_72_hrs }}
            </div>
        </div>