
        <div class="form-group row">
            <label for="{{ urine_form.color.id_for_label }}" class="col-md-3 col-form-label">Color:</label>
            <div class="col-md-9">
                {{ urine_form.color }}
            </div>
        </div>

        <!-- Add Appearance field -->
        <div class="form-group row">
            <label for="{{ urine_form.appearance.id_for_label }}" class="col-md-3 col-form-label">Appearance:</label>
            <div class="col-md-9">
                {{ urine_form.appearance }}
            </div>
        </div>

        <!-- Add Reaction field -->
        <div class="form-group row">
            <label for="{{ urine_form.reaction.id_for_label }}" class="col-md-3 col-form-label">Reaction:</label>
            <div class="col-md-9">
                {{ urine_form.reaction }}
            </div>
        </div>

        <!-- Add Sugar field -->
        <div class="form-group row">
            <label for="{{ urine_form.sugar.id_for_label }}" class="col-md-3 col-form-label">Sugar:</label>
            <div class="col-md-9">
                {{ urine_form.sugar }}
            </div>
        </div>

        <!-- Add Protein field -->
        <div class="form-group row">
            <label for="{{ urine_form.protein.id_for_label }}" class="col-md-3 col-form-label">Protein:</label>
            <div class="col-md-9">
                {{ urine_form.protein }}
            </div>
        </div>

        <!-- Add RBC field -->
        <div class="form-group row">
            <label for="{{ urine_form.rbc.id_for_label }}" class="col-md-3 col-form-label">RBC:</label>
            <div class="col-md-9">
                {{ urine_form.rbc }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Pus Cells field -->
        <div class="form-group row">
            <label for="{{ urine_form.pus_cells.id_for_label }}" class="col-md-3 col-form-label">PUS CELLS:</label>
            <div class="col-md-9">
                {{ urine_form.pus_cells }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Epithelial Cells field -->
        <div class="form-group row">
            <label for="{{ urine_form.epithelial_cells.id_for_label }}" class="col-md-3 col-form-label">Epithelial Cells:</label>
            <div class="col-md-9">
                {{ urine_form.epithelial_cells }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Calcium Oxalates field -->
        <div class="form-group row">
            <label for="{{ urine_form.calcium_oxalates.id_for_label }}" class="col-md-3 col-form-label">Calcium Oxalates:</label>
            <div class="col-md-9">
                {{ urine_form.calcium_oxalates }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Crystals field -->
        <div class="form-group row">
            <label for="{{ urine_form.crystals.id_for_label }}" class="col-md-3 col-form-label">Crystals:</label>
            <div class="col-md-9">
                {{ urine_form.crystals }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Casts field -->
        <div class="form-group row">
            <label for="{{ urine_form.casts.id_for_label }}" class="col-md-3 col-form-label">Casts:</label>
            <div class="col-md-9">
                {{ urine_form.casts }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Bacteria field -->
        <div class="form-group row">
            <label for="{{ urine_form.bacteria.id_for_label }}" class="col-md-3 col-form-label">Bacteria:</label>
            <div class="col-md-9">
                {{ urine_form.bacteria }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>

        <!-- Add Others field -->
        <div class="form-group row">
            <label for="{{ urine_form.others.id_for_label }}" class="col-md-3 col-form-label">Others:</label>
            <div class="col-md-9">
                {{ urine_form.others }}
                <small class="form-text text-muted">/HPF</small>
            </div>
        </div>
