
        <!-- Add S.TYPHI 'O' field -->
        <div class="form-group row">
            <label for="{{ widal_form.anti_o.id_for_label }}" class="col-md-3 col-form-label">S.TYPHI 'O':</label>
            <div class="col-md-9">
                {{ widal_form.anti_o }}
            </div>
        </div>

        <!-- Add S.TYPHI 'H' field -->
        <div class="form-group row">
            <label for="{{ widal_form.anti_h.id_for_label }}" class="col-md-3 col-form-label">S.TYPHI 'H':</label>
            <div class="col-md-9">
                {{ widal_form.anti_h }}
            </div>
        </div>

        <!-- Add S.PARATYPHI 'AH' field -->
        <div class="form-group row">
            <label for="{{ widal_form.anti_ah.id_for_label }}" class="col-md-3 col-form-label">S.PARATYPHI 'AH':</label>
            <div class="col-md-9">
                {{ widal_form.anti_ah }}
            </div>
        </div>

        <!-- Add S.PARATYPHI 'BH' field -->
        <div class="form-group row">
            <label for="{{ widal_form.anti_bh.id_for_label }}" class="col-md-3 col-form-label">S.PARATYPHI 'BH':</label>
            <div class="col-md-9">
                {{ widal_form.anti_bh }}
            </div>
        </div>
